.akatsuki-card {
  border: none;
  border-radius: 10px;
  background-color: #111;
  color: #eee;
  transition: transform 0.3s ease;
}

.akatsuki-card .card-title {
  color: #e50914;
  font-weight: 700;
  text-align: center;
}

.akatsuki-btn {
  background-color: #000;
  color: #e50914;
  border: 2px solid #e50914;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 0 8px rgba(229, 9, 20, 0.4);
}

.akatsuki-btn:hover {
  background-color: #e50914;
  color: #000;
  border-color: #000;
  box-shadow: 0 0 15px 5px rgba(229, 9, 20, 0.6);
  transform: scale(1.05);
}

.akatsuki-card .card-body {
  min-height: 180px;
}